WindowsService/Connected Services/WebServ/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarAparato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aparato" type="tns:Aparatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Aparatos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Magnitud" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Profundidad" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Geolocalizacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaRegistro" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarAparatoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarAparatoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarAparato" />
  </wsdl:message>
  <wsdl:message name="RegistrarAparatoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarAparatoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="RegistrarAparato">
      <wsdl:input message="tns:RegistrarAparatoSoapIn" />
      <wsdl:output message="tns:RegistrarAparatoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarAparato">
      <soap:operation soapAction="http://tempuri.org/RegistrarAparato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarAparato">
      <soap12:operation soapAction="http://tempuri.org/RegistrarAparato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:54008/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:54008/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>